<div class="panel panel-default">
<div class="panel-heading"><h1 class="f1 v1" id="t3">Profil <%= @user.login %></h1></div>

<div class="panel-body box_body">
    
    <div class="row o3">
        <div class="col-md-4"> 
            <div class="o1">
                <%= image_tag @user.avatar.url(:medium) %>
            </div>
        </div>
        <div class="col-md-8"> 
            <div class="o2">
                <strong>Login:</strong> <%= @user.login %> <br />
                <strong>Email:</strong> <%= @user.email %> <br />
                <div class="o4">
                    <%= @user.bio %> 
                </div>
        </div>
        </div>
    </div>
    
    <div class="u2">
        <h1 class="f1 v1 u1">Lista pinów dodanych przez <%= @user.login %></h1>
    </div>
        
        <div id="pins" class="transitions-enabled">
        
            <% @user.pins.each do |pin| %>
                      
                <div class="box panel panel-default">
                    <%= link_to image_tag(pin.image.url(:medium)), pin %>
                          
                    <div class="panel-body">
                        <div class="tytul">
                            <%= pin.title %>
                        </div>
                        <div class="coment row ">
                            <div class="col-md-offset-1 col-md-5"> 
                                <%= pin.coms.count %> <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span> 
                            </div>
                             
                            <div class="col-md-5"> 
                                 <%= pin.likes.count %> <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
                            </div>
                        </div>
                    
                                 
                        <div class="dodane">
                            Przypięte przez: 
                            <br />
                                <div class="hm1">
                                    <%= link_to pin.user.login, user_path(pin.user.id)  %>
                                </div>
                        </div>
                    </div>
                    
                    
                    <% if pin.user == current_user %>
                        <div class="panel-footer stopka">
                            <%= link_to 'Edytuj pin', edit_pin_path(pin), class: 'btn btn-primary btn-xs' %>
                            <%= link_to 'Usuń pin', pin, method: :delete, data: { confirm: 'Czy jesteś pewien, że chcesz usunąć ten pin?' }, class: 'btn btn-primary btn-xs' %>
                        </div>
                    <% else %> 
                        <div class="panel-footer stopka">
                      <%= link_to '', like_pin_path(pin), method: :post, class: 'btn btn-primary btn-xs glyphicon glyphicon-heart' %>
                      
                      </div>
                    <% end %>
                </div>
                  
            <% end %>
            
        </div>
    </div>
    <div class="panel-footer stopka">
        <%= link_to 'Tablica główna', root_path, class: 'btn btn-primary' %>
        <%= link_to 'Początek strony', "#t3_path", class: 'btn btn-primary'%>
    </div>
    
</div>