<div class="panel panel-default">
<div class="panel-heading"><h1 class="f1 v1">Profil <%= @user.login %></h1></div>

<div class="panel-body box_body">
    
    <div>
        Login: <%= @user.login %> <br />
        Email: <%= @user.email %> <br />
        <% @user.pins.count %>
    </div>
    
    <div class="u2">
        <h1 class="f1 v1 u1">Lista pinów dodanych przez <%= @user.login %></h1>
    </div>
        
        <div id="pins" class="transitions-enabled">
        
            <% @user.pins.each do |pin| %>
                      
                <div class="box panel panel-default">
                    <%= link_to image_tag(pin.image.url(:medium)), pin %>
                          
                    <div class="panel-body">
                        <div class="tytul">
                            <%= pin.title %>
                        </div>
                        <div class="coment row ">
                            <div class="col-md-offset-1 col-md-5"> 
                                <%= pin.coms.count %> <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span> 
                            </div>
                             
                            <div class="col-md-5"> 
                                 <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>
                            </div>
                        </div>
                    
                                 
                        <div class="dodane">
                            Przypięte przez: 
                            <br />
                                <div class="hm">
                                    <%= link_to pin.user.login, user_path(pin.user.id)  %>
                                </div>
                        </div>
                    </div>
                    
                    
                    <% if pin.user == current_user %>
                        <div class="panel-footer stopka">
                            <%= link_to 'Edytuj pin', edit_pin_path(pin), class: 'btn btn-primary btn-xs' %>
                            <%= link_to 'Usuń pin', pin, method: :delete, data: { confirm: 'Czy jesteś pewien, że chcesz usunąć ten pin?' }, class: 'btn btn-primary btn-xs' %>
                        </div>
                    <% end %>
                </div>
                  
            <% end %>
            
        </div>
    </div>
    <div class="panel-footer stopka">
        
    </div>
    
</div>