<div class="row"> 
<div class="col-md-offset-3 col-md-6">
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
</div>
</div>

<div class="row"> 
<div class="col-md-offset-3 col-md-6"> 
<div class="panel panel-default">

<div class="panel-heading">
<h2 class="f1 v1">Zapomniałeś hasło?</h2>
</div>

<div class="panel-body">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, "Email:" %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Wyślij mi instrukcję resetowania hasła", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

</div>

<div class="panel-footer">
<%= render "devise/shared/links" %>
</div>

</div>
</div>
</div>
